
<!-- <table style="width: 100%;">
  <tr>
    <td>
      <app-add-employee></app-add-employee>

    </td>

    <td>
     <app-employee-list></app-employee-list>
    </td>
  </tr>
</table> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directive></app-structural-directive> -->
<!-- <app-attributedirectives></app-attributedirectives> -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WebSiteName</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="add-emp">Add employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="attribute-directive">Attribute directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="data-binding">Data binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="structural-directive">Structural directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="employee-list">Employee list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="for-comp">for controlflow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ifelse-comp">If Else controlflow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="switch-comp">Switch controlflow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipes</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="forms">Template Forms</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="reactiveform">Reactive Forms</a>
          </li>
  
  
          
          <li class="nav-item">
            <a class="nav-link" routerLink="getapi">Get api</a>
          </li>
  
          
          <li class="nav-item">
            <a class="nav-link" routerLink="postapi">Post api</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="lifecycleevents">lifecycle Event</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="signal">Signal</a>
          </li>
  
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  