



<div class = "mt-2 p-2 bg-secondary text-white rounded">

    <h1>Switch Control flow statement</h1>
    <p>&#64; if else</p>



    <button [routerLink]="['/structural-directive']">Navigation</button>
    </div>
    
    <div class="row pt-3">
        <div class="col-3">
            <div class="p-3 text-center bg-primary">
    
                <h4>Div 1</h4>
            </div>
        </div>
    
    
        <div class="col-3">
            <div class="p-3 text-center bg-warning"  >
    
                <h4>Div 2</h4>
            </div>
    
        </div>
    
        <div class="col-3">
            <div class="p-3 text-center bg-danger">
                <h4>Div 3</h4>
            </div>
        </div>
    
    
        <div class="col-3" >
            <div class="p-3 text-center bg-success">
                <h4>Div 4</h4>
            </div>
        </div>


       
        
    
    
        </div>


    
    <div class="row pt-3">
    
        <div class="col-3 text-center">
            <div>
                <button class="bg-primary" >Add blue</button>
                <button class="mx-2 bg-danger" >Add red</button>
    
            </div>
        </div>
    
    
        <div class="col-3 text-center">
            <div>
                <button class="bg-primary" >Toggle</button>
               
    
            </div>
        </div>
    
    
    
    
        <div class="col-3 text-center">
            <div class="display: flex align-items:center">
              <input type="text" placeholder="Num1">
    
              <input type="text"  placeholder="Num2">
    
            </div>
        </div>
    
        <div class="col-3 text-center">
            <div class="display: flex align-items:center">
    
                <input type="checkbox" >
    
                <select>
                    <option value=" ">Select state</option>
                    <option value="USA">USA</option>
                    <option value="Dubai">Dubai</option>
                    <option value="Pakistan">Pakistan</option>
    
                </select>
            </div>
        </div>
       
    </div>

    <div class="col-5">
        <table class="table table bordered">
            <thead>
                <tr>
                    <th>Sr.no</th>

                    <th>Name</th>
                    <th>City</th>
                    <th>Gender</th>
                  
                    <th>isActive</th>
                    <th>Marks</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let student of studentList; let sr = index">
                    <td>{{sr +1}}</td>
                    <td> {{student.name}} </td>
                    <td> {{student.city}} </td>
                    <td>{{student.gender}}</td>
                    <td >

                        <span>{{student.isActive ? 'Active' : 'Deactive'}}</span>
                      
                    </td>

                   
                    <td>
                        <div class="progress">
                            <div class="progress-bar" > {{student.marks}}</div>
                          </div>
                         
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    